dist/
dist-newstyle/
cabal.project.local*
*.ghc*
ex/
idr/
kustre.ipkg
spec/
auto_src/
TAGS
doc/
*.info
*.tpi
cabal.sandbox.config
.cabal-sandbox/
*.#*
*.bc
*.o
stack.yaml
*.stack*
*.hp
*.eventlog
*.prof
*_flymake.*